<section class="section-paddings">
  <div class="container">
    <div class="promo h-[450px]">
      <!-- Background -->
      <div class="section-background_no-image"></div>

      <div class="section-background_no-image__stripe"></div>

      <!-- Content block -->
      <div class="sm:w-1/2">
        <ul class="breadcrumb pb-[24px]">
          <li>
            <a href="#">Homepage</a>
            <div>
              <svg>
                <use xlink:href="../img/sprite.svg#chevron-right"></use>
              </svg>
            </div>
          </li>
          <li>
            <a href="#">Vacancies</a>
            <div>
              <svg>
                <use xlink:href="../img/sprite.svg#chevron-right"></use>
              </svg>
            </div>
          </li>

          <li><a href="#">Drupal developer</a></li>
        </ul>

        <h1 class="heading-1 pb-[24px]">
          Drupal developer
        </h1>

        <ul class="vacancy-details">
          <li>
            <svg>
              <use xlink:href="../img/sprite.svg#clock"></use>
            </svg>
            Full time
          </li>
          <li>
            <svg>
              <use xlink:href="../img/sprite.svg#location-mark"></use>
            </svg>
            Riga, Latvia
          </li>
          <li>
            <svg>
              <use xlink:href="../img/sprite.svg#coin"></use>
            </svg>
            From 1500 (before tax)
          </li>
        </ul>

        <button class="btn-main">
          Apply now
        </button>
      </div>
    </div>
  </div>
</section>
