<section class="section-paddings promo-block_image-bg">
  <div class="promo-block_image-bg__container">
    <div
      class="promo-block_image-bg__inner"
      style="background-image: url('../img/tashkent.jpg')"
    >
      <!-- Content block -->
      <div class="promo-block_image-bg__content">
        <div>
          <h1 class="heading-1__bg-image">
            We help for your IT
          </h1>
          <p class="supporting-text__bg-image">
            Your Gateway to International IT Opportunities
          </p>

          <button class="btn-main">
            Send us a message
          </button>
        </div>
      </div>

      <div class="bg-gradient_to-left"></div>
    </div>
  </div>
</section>
