<section class="section-paddings promo-block">
  <div class="container">
    <div
      class="promo-block__inner"
    >
      <!-- Background -->
      <div class="section-background"></div>

      <!-- Content block -->
      <div class="promo-block__content">
        <div>
          <h1
            class="heading-1"
          >
            We help for your IT
          </h1>
          <p
            class="supporting-text"
          >
            Your Gateway to International IT Opportunities
          </p>

          <button class="btn-main">
            Send us a message
          </button>
        </div>
      </div>

      <!-- Image block -->
      <div class="promo-block__image">
        <div class="image-block">
          <img src="../img/promo001-light.png" />
        </div>
      </div>

    </div>
  </div>
</section>
