<section class="section-paddings">
  <div class="container">
    <div class="promo">
      <!-- Background -->
      <div class="section-background"></div>

      <!-- Content block -->
      <div class="sm:w-1/2">
        <div>
          <ul class="breadcrumb pb-[24px]">
            <li>
              <a href="#">Homepage</a>
              <div>
                <svg>
                  <use xlink:href="../img/sprite.svg#chevron-right"></use>
                </svg>
              </div>
            </li>
            <li>
              <a href="#">Service</a>
              <div>
                <svg>
                  <use xlink:href="../img/sprite.svg#chevron-right"></use>
                </svg>
              </div>
            </li>

            <li><a href="#">Team Leasing</a></li>
          </ul>

          <h1 class="heading-1 pb-[24px]">
            Flexible staffing solutions for Your IT projects
          </h1>

          <p class="supporting-text pb-[40px] sm:pb-[35px]">
            Lorem ipsum dolor sit amet consectetur. Vel ipsum sed urna integer
            urna parturient id vel.
          </p>
        </div>
      </div>

      <!-- Image block -->
      <div class="sm:w-1/2">
        <div class="image-block">
          <img src="../img/team_leasing.png" />
        </div>
      </div>
    </div>
  </div>
</section>
