<section class="section-paddings teal-block border-blue">
  <div class="container">
    <div class="teal-block__inner">

      <div class="teal-block__item">
          <div class="teal-block__icon">
            <i class="fa fa-briefcase" aria-hidden="true"></i>
          </div>
          <div class="teal-block__title heading-4">Body leasing/Team leasing</div>
          <div class="teal-block__supporting-text">Lorem ipsum dolor sit amet consectetur. Est nulla massa sed cras eget rutrum lectus sed semper. Diam neque pharetra eu elit sagittis eu sem.</div>
      </div>
      


    </div>
  </div>
</section>
